/* //// GLOBAL //// */
html, body{
  margin: 0;
  padding: 0 1em 0 1em;
  height: 100%;
}

body{
  background-image: url('/img/dj2.jpg');
  font-family: "Arvo", serif !important;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 20px !important;
}


/* //// HEADER AND NAVBAR //// */
.header{
  color: white;
}
.header img{
  margin-top: -1.75em;
}
.title{
  font-size: 4em;
}

/* //// MAIN BODY //// */
#body{
  height: 80%;
}
#form, #cal{
  height: 100%;
}
.panel-full{
  height: 100%;

}

.class-add.panel.panel-default.panel-full{
  width: 350px;
}



/* //// CALENDAR //// */
.dhx_cal_container{
  height: 100%;
}
.dhx_cal_navline{
  display: none;
}
.dhx_cal_header, .dhx_cal_data{
  margin-top: -25px;
}